.editor-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.user-bar {
  padding: 8px 16px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccc;
}

.fullscreen-editor {
  flex: 1; /* occupy remaining space */
}

.fullscreen-editor .ql-editor {
  min-height: 100%;
  height: 100%;
  padding: 16px;
}



